@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Signika+Negative:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #56858a;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  position: relative;
}

.top__bg {
  position: absolute;
  width: 22rem;
  height: 2rem;
  background-color: #56858a;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 3.5rem;
  z-index: 1;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.calculator {
  border-radius: 3rem;
  width: 90%;
  max-width: 36rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  position: absolute;
  left: 50%;
  margin-top: 4rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #191c22;
  color: #fff;
  overflow: hidden;
}

.calculator > div {
  padding: 0 2rem;
}

.calculator__head {
  width: 100%;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__head .head__left i {
  font-size: 3rem;
  padding-top: 1.5rem;
  cursor: pointer;
}

.calculator__head .head__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

.calculator__head .head__right .right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__head .head__right .right__top i {
  padding: 0.3rem;
}

.calculator__head .head__right .right__bottom {
  margin-top: 1.5rem;
}

.calculator__head .head__right .right__bottom i {
  font-size: 3.5rem;
  cursor: pointer;
}

.calculator__top {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem !important;
}

.calculator__bottom {
  background-color: #262931;
  height: 40rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.calculator .btn {
  border: none;
  border-radius: 1.5rem;
  background-color: transparent;
  color: inherit;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.calculator .btn:hover {
  background-color: rgba(0, 0, 0, 0.27);
}

.calculator .mainKey {
  color: #8d5657;
}

.calculator .secondKey {
  color: #1c434c;
}

.calculator .inputA {
  background-color: transparent;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 3.5rem;
  height: 4rem;
  text-align: right;
  color: #fff;
  max-width: 100%;
  outline: none;
}

.calculator .inputA::-webkit-input-placeholder {
  color: #56858a;
}

.calculator .inputA:-ms-input-placeholder {
  color: #56858a;
}

.calculator .inputA::-ms-input-placeholder {
  color: #56858a;
}

.calculator .inputA::placeholder {
  color: #56858a;
}

.theme {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}

.theme i {
  font-size: 2.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.lightmode .calculator__head {
  background-color: snow;
  color: #191c22;
}

.lightmode .calculator__top {
  background-color: snow;
  color: #191c22;
}

.lightmode .calculator__top input {
  color: #191c22;
}

.lightmode .calculator__bottom {
  background-color: snow;
  color: #191c22;
}
/*# sourceMappingURL=style.css.map */